# MongoDB Connection String
MONGODB_URI=mongodb://localhost:27017/pool-booking

# For production, use MongoDB Atlas or other cloud MongoDB service
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/pool-booking?retryWrites=true&w=majority

# NextAuth Configuration
NEXTAUTH_SECRET=your-nextauth-secret
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
SUPERADMIN_EMAIL=superadmin@example.com
SUPERADMIN_PASSWORD=superadminpassword
NEXTAUTH_URL=http://localhost:3000

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000 